/* CSS Reset */

@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:500');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Skip link CSS */

.skip-link a {
	position: absolute;
	top: -3em;
	background-color: var(--dkrblauw);
	color: var(--grijs);
	padding: 5px;
}

.skip-link a:focus {
	top: 0;
}

/* Standard CSS */

p, h1, h2, h3, h4, h5, h6, ul, li, a, label, button {
	font-family: 'Roboto', sans-serif;
	color: var(--dkrblauw);
	text-decoration: none;
}

body {
	background-color: #fffefe;
	min-height: 100%;
	position: relative;
}

.container, #container {
	max-width: 1280px;
	margin: 0 auto;
}

main.container, main#container {
	padding-bottom: 100px;
}

h1 {
	clear: both;
	margin: 50px 0 25px 0;
	font-size: 40px;
	text-align: center;
}

h2 {
	margin: 25px 0 25px 0;
	font-size: 28px;
	text-align: center;
}

#knoppen {
	margin: 60px auto 0 auto;
	text-align: center;
}

/* Startscherm CSS */

.startscherm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.startscherm {
		width: 75%;
		font-size: 15px;
	}
}

.startscherm-content {
	font-size: 22px;
	text-decoration: underline;
}

.button-positie {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Oude button CSS 

.button {
	display: inline-block;
	width: 120px;
	padding: 8px;
	margin: 0 5px;
	border: 2px solid var(--dkrblauw);
	border-radius: 20px;
	color: var(--grijs);
	background-color: var(--dkrblauw);
}

.button:hover {
	background-color: var(--grijs);
	color: var(--dkrblauw);
}

@media screen and (max-width: 630px) {
	.button {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	text-align: center;
	}
}

*/

/* Nieuwe button CSS */

.button {
	display: inline-block;
	box-sizing: border-box;

}

.button button {
	height: 46px;
    width: 185px;
	display: inline-block;
    margin: 5px;
    border: 2px solid var(--dkrblauw);
    border-radius: 20px;
    background-color: var(--dkrblauw);
	box-sizing: border-box;
	color: var(--grijs);
	font-size: 14px;
}

.button button:hover {
	background-color: var(--grijs);
	color: var(--dkrblauw);
}

.button button p {
	color: var(--grijs);
	padding: 10px;
	font-size: 16px;
}

.button button:hover p {
	color: var(--dkrblauw);
}

@media screen and (max-width: 650px) {
	.button {
	width: 100%
	}
	
	.button button {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	}
}
