@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:500');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS Reset ^^ */

/* Standard CSS */

p, h1, h2, h3, h4, h5, h6, ul, li, a {
	font-family: 'Roboto', sans-serif;
	color: var(--dkrblauw);
	text-decoration: none;
}

body {
	background-color: #fffefe;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	clear: both;
	margin: 50px 0 25px 0;
	font-size: 40px;
	text-align: center;
}

h2 {
	margin: 25px 0 25px 0;
	font-size: 28px;
	text-align: center;
}

#knoppen {
	margin: 60px auto 0 auto;
	text-align: center;
}

/* Start schermen CSS */

.startscherm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	text-align: center;
}

.startscherm-content {
	font-size: 22px;
	text-decoration: underline;
}

.button-positie {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button {
	display: inline-block;
	width: 120px;
	padding: 8px;
	margin: 0 5px;
	border: 2px solid var(--dkrblauw);
	border-radius: 20px;
	color: var(--grijs);
	background-color: var(--dkrblauw);
}

.button:hover {
	background-color: var(--grijs);
	color: var(--dkrblauw);
}

@media screen and (max-width: 630px) {
	.button {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	text-align: center;
	}
}

/* NIET AAN DEZE CODE ZITTEN! */

.form-email {
	display: inline-block;
	width: 400px;
	margin: 240px auto 0;
	text-align: center;
	background-color: var(--grijs);
	border-top: solid black 3px;
	padding: 10px 15px 8px;
}

.form-email label {
	padding-right: 10px;
	margin-bottom: 0;
}

.form-input {
	border-radius: 4px;
	width: 300px;
	border: 1px solid black
}

.send-button {
	height: 40px;
    /*position: relative;
    top: -2px; */
	vertical-align: top;
    margin: 240px auto 0;
}

#error {
	margin: 0;
}

.success {
	text-align: center;
    margin-top: 250px;
    text-decoration: underline;
}

.email-container {
	width: 600px;
	margin: 0 auto;
}

@media screen and (max-width: 680px) {
	.send-button {
    left: 0;
    top: 50px;
	}

	.form-email {
	display: block;	
	}
	
	.email-container {
	width: 100%
	}

/* OK, nu mag het weer! */
