/* CSS Reset */

@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:500');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Skip link CSS */

.skip-link {
	position: absolute;
	top: -3em;
	background-color: #163143;
	color: #e9e9ea;
	padding: 5px;
	z-index: 1;
}

.skip-link:focus {
	top: 0;
}

/* Standard CSS */

p, h1, h2, h3, h4, h5, h6, ul, li, a, label, button {
	font-family: 'Roboto', sans-serif;
	color: #163143;
	text-decoration: none;
}

body {
	background-color: #fffefe;
	min-height: 100%;
	position: relative;
}

header, footer, main { display: block; clear: both; } /* voor Internet Explorer die geen HTML5-elementen kent */

/* dit zou het wegvallen van de main content achter de footer moeten voorkomen */
main:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container, #container {
	max-width: 1280px;
	margin: 0 auto;
}

main.container, main#container {
	padding-bottom: 100px;
}

h1 {
	clear: both;
	margin: 50px 0 25px 0;
	font-size: 40px;
	text-align: center;
}

h2 {
	margin: 30px 0 25px 0; /* Was 60px */
	font-size: 28px;
	text-align: center;
}

h3 {
	text-align: center;
}

#knoppen {
	margin: 60px auto 0 auto;
	text-align: center;
}

@media screen and (max-width: 650px) {
	#knoppen {
	margin: 20px auto 0 auto;
	}
}

/* Startscherm CSS */

.startscherm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 54%;
	text-align: center;
}

.startscherm p {
	margin: 10px 0;
}

@media screen and (max-width: 650px) {
	.startscherm {
		width: 75%;
		font-size: 15px;
	}
}

.startscherm-content {
	font-size: 22px;
	text-decoration: underline;
}

.button-positie {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Oude button CSS 

.button {
	display: inline-block;
	width: 120px;
	padding: 8px;
	margin: 0 5px;
	border: 2px solid var(--dkrblauw);
	border-radius: 20px;
	color: var(--grijs);
	background-color: var(--dkrblauw);
}

.button:hover {
	background-color: var(--grijs);
	color: var(--dkrblauw);
}

@media screen and (max-width: 630px) {
	.button {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	text-align: center;
	}
}

*/

/* Nieuwe button CSS */

.button {
	display: inline-block;
	box-sizing: border-box;

}

.button button, .send-button {
	height: 46px;
    width: 185px;
	display: inline-block;
    margin: 5px;
    border: 2px solid #163143;
    border-radius: 20px;
    background-color: #163143;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.button button:hover, .button button:focus {
	background-color: #e9e9ea;
	color: #163143;
}

.button button p {
	color: #e9e9ea;
	padding: 10px;
	font-size: 16px;
}

.button button:hover p, .button button:focus p {
	color: #163143;
}

span.alienBackLeft, span.alienBackRight {
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-position 1s;
	position: absolute;
	width: 100%;
	z-index: -8;
	height: 76%;
	top: 159px;
}

span.alienBackLeft {
	left: 0;
    background-size: 298px;
    background-position: 0% 28%;
}

span.alienBackRight {
	right: 0;
    background-size: 371px;
    background-position: 100% 62%;
}

@media screen and (max-width: 650px) {
	.button {
	width: 100%
	}
	
	.button button {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	}
}

/* E-mail form CSS */

.form-email {
	display: block;
	width: 550px;
	margin: 240px auto 0;
	text-align: center;
	background-color: #e9e9ea;
	border-top: solid black 3px;
	padding: 10px 15px 8px;
	/*vertical-align: bottom; this is ignored by display:block*/
	font-family: 'Roboto', sans-serif;
}

.form-email label {
	padding-right: 10px;
	margin-bottom: 0;
}

.form-input {
	border-radius: 4px;
	width: 470px;
	border: 1px solid black
}

.send-button {
	height: 40px;
    position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.email-container button {
	margin: 0 0 0 5px;
	height: 42px;
	margin-top: 30px;
}

#error {
	margin: 0;
}

.success {
	text-align: center;
    margin: 250px auto 50px;
	font-size: 23px;
    text-decoration: underline;
}

.email-container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 680px) {
	
	.email-container button {
	margin: 5px auto;
	}

	.form-email {
	margin: 194px auto 25px;
	width: 370px;
	}
	
	.form-input {
	width: 300px;
	}
	
	.email-container {
	width: 100%;
	text-align: center;
	}
}

table, th, td {
    border: 1px solid black;
}