.form-email {
	display: inline-block;
	width: 400px;
	margin: 240px auto 0;
	text-align: center;
	background-color: var(--grijs);
	border-top: solid black 3px;
	padding: 10px 15px 8px;
}

.form-email label {
	padding-right: 10px;
	margin-bottom: 0;
}

.form-input {
	border-radius: 4px;
	width: 300px;
	border: 1px solid black
}

.send-button {
	height: 40px;
    position: relative;
    left: 10px;
    top: 2px;
	vertical-align: top;
    margin: 240px auto 0;
}

#error {
	margin: 0;
}

.success {
	text-align: center;
    margin-top: 250px;
    text-decoration: underline;
}

.email-container {
	width: 600px;
	margin: 0 auto;
}

@media screen and (max-width: 680px) {
	.send-button {
    left: 0;
    top: 50px;
	margin: 0 auto;
	}

	.form-email {
	display: block;	
	}
	
	.email-container {
	width: 100%;
	text-align: center;
	}
