/* Tijdelijke stylesheet zodat ik het niet voor Felix verpest */

/* Spelvorm 2 Game CSS */

#turn {
	text-align: center;
}

#card_display {
	background-image: url("../afbeeldingen/rode-kaart.png");
	background-size: 166px 230px;
	height: 230px;
    width: 166px;
	position: relative;
	top: 40px;
	left: 0;
	margin: 0 auto;
}

#current_card {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    font-size: 18px;
}

.player-menu {
	text-align: center;
    margin: 60px auto 0;
}

#player_list {
	margin-top: 60px;
	text-align: center;
}

#player_list li {
	display: inline-block;
	padding: 15px 0;
	width: 33%
}

.player-button button {
	width: 130px;
	height: 26px;
	border: 0px;
	border-top: 3px solid black;
}

#card_stack h3 {
	margin: 10px 0;
	font-size: 18px;
	text-decoration: underline;
}

#amount, #card_stack h3, #card_stack p {
	margin-top: 15px;	
}

#card_stack h3, #card_stack p, #card_stack ul, #amount {
	text-align: center;
}

#card_stack ul {
	list-style: none;
}

@media screen and (max-width: 650px) {
	
	h2 {
	margin: 70px 0 25px 0;	
	}
	
	#card_display {
		margin: 40px auto 0;
	}	
	
	#player_list li {
		display: block;
		padding: 10px 0;
		width: 100%;
	}
	
	.player-button button {
		width: 180px;
		height: 30px;
	}
}

/* Eindscherm CSS */

.eind-content {
	margin-top: 120px;
	text-align: center;
}

.leave-game {
	margin-top: 40px;
}

.bottom-menu {
	margin: 30px auto 0 auto;
	text-align: center;
}

/* Kaart Rij Redux */

.kaart-rij {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    width: 1024px;/*100%;*/
	list-style: none;
}

.kaart {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}

.eind-kaart button {
	background-image: url(../afbeeldingen/rode-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	color: white;
	font-size: 18px;
	}

@media screen and (max-width: 1280px) {
	.kaart-rij {
	margin: 0 auto 20px;
	float: none;
	width: 800px;
	}	
}
	
@media screen and (max-width: 1050px) {
	.kaart-rij {
	width: 400px;	
	}
}
