/* Tijdelijke stylesheet zodat ik het niet voor Felix verpest */

#card_display {
	background-image: url("../afbeeldingen/rode-kaart.png");
	background-size: 166px 230px;
	height: 230px;
    width: 166px;
	position: relative;
	top: 40px;
	left: 0;
	margin: 0 auto;
}

#current_card {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    font-size: 18px;
}

.player-menu {
	text-align: center;
    margin: 60px auto 0;
}

#player_list {
	margin-top: 60px;
	text-align: center;
}

#player_list li {
	display: inline-block;
	padding: 15px 0;
	width: 33%
}

.player-button button {
	width: 120px;
	height: 26px;
	border: 0px;
	border-top: 3px solid black;
}

#card_stack h3 {
	margin: 10px 0;
	font-size: 18px;
	text-decoration: underline;
}

#amount, #card_stack h3, #card_stack p {
	margin-top: 15px;	
}

#card_stack h3, #card_stack p, #card_stack ul, #amount {
	text-align: center;
}

#card_stack ul li {
	text-decoration: none;
}

@media screen and (max-width: 650px) {
	#card_display {
		margin: 40px auto 0;
	}	
	
	#player_list li {
		display: block;
		padding: 10px 0;
		width: 100%;
	}
	
	.player-button button {
		width: 180px;
		height: 30px;
	}
}
