:root {
	/*kleur*/
	--rood: #d4263e;
	--grijs: #e9e9ea;
	--dkrblauw: #163143;
	--groen: #60bebb;

	/*font zaken*/
	--spelvorm: oswald, monospace;
}

.headvorm	{
    
	display: inline-flex;
    flex: 4;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    font-size: 16px;/*shift vanaf 478px*/
    text-align: center;
    font-family: var(--spelvorm);
    background-color: var(--grijs);
    border-top: solid 4px var(--dkrblauw);
    color: var(--dkrblauw);
    width: 100%;
}

.headvorm-lesser {
    
	display: inline-block;
    flex: 4;
    position: relative;
    text-align: center;
    height: 6%;
    padding: 0.5%;
    font-family: var(--spelvorm);
    color: var(--dkrblauw);
    text-decoration: none;

}

.header-content {
	display: flex;
    flex: 2;
	flex-flow: column;
	z-index: 1;
}

.header-content-parts {
	display: block;
}

img.logo {
	/*lengte & breedte*/
	height: auto;
	width:85px;
	
	display: inline;
	
	position: ABSOLUTE;
	float: left;
	margin-left: 10%;
	margin-top: 8px;
	
	
}

.titel {
	/*text*/
	text-align:center;
	font-family: var(--spelvorm);
	text-transform: uppercase;
	letter-spacing: 1.0887244px;
	font-weight: 100;
	position: relative;
	z-index: 1;

	/*kleur*/
	color:var(--dkrblauw);
}

.boven {
    font-size: 20px;
    position: relative;
    margin-bottom: -4px;
    margin-top: -2px;
}

.onder	{
	font-weight: 100;
    margin-top: 0;
    letter-spacing: 0.3em;
    font-size: 24px;
    margin-bottom: 0px;
}