:root {
	/*kleur*/
	--rood: #d4263e;
	--grijs: #e9e9ea;
	--dkrblauw: #163143;
	--groen: #60bebb;

	/*font zaken*/
	--spelvorm: oswald, monospace;
}

.headvorm	{
    
	display: inline-flex;
    flex: 4;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    font-size: 9.6em;
    text-align: center;
    font-family: var(--spelvorm);
    background-color: var(--grijs);
    border-top: solid 4px var(--dkrblauw);
    color: var(--dkrblauw);
    width: 100%;
}

.headvorm-lesser {
    
	display: inline-block;
    flex: 4;
    position: relative;
    text-align: center;
    height: 6%;
    padding: 0.5%;
    font-family: var(--spelvorm);
    font-size: 2.6vw;
    color: var(--dkrblauw);
    text-decoration: none;

}

header > img {
	/*lengte & breedte*/
	height: auto;
	min-width: 6%;
	width:12%;
    max-width:13%;
	
	display: inline;
	
	position: absolute;
	float: left;
	margin-left: 10%;
	margin-top: 1.4%;
	
	
}

.titel {
	/*text*/
	text-align:center;
	font-family: var(--spelvorm);
	text-transform: uppercase;
	letter-spacing: 1.0887244px;
	font-weight: 800;

	/*kleur*/
	color:var(--dkrblauw);
}

.boven {
    font-size: 3.4vw;
    position: relative;
    margin-bottom: -4px;
    margin-top: -2px;
}

.onder	{
	font-weight: 100;
    margin-top: 0;
    letter-spacing: 0.3em;
    font-size: 3vw;
    margin-bottom: 0px;
}