:root {
	/*kleur*/
	--rood: #d4263e;
	--grijs: #e9e9ea;
	--dkrblauw: #163143;
	--groen: #60bebb;
	/*font zaken*/
	--spelvorm: oswald, monospace;
}

.headvorm	{
    
	display: inline-flex;
    flex: 4;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    font-size: 16px;/*shift vanaf 478px*/
    text-align: center;
    font-family: oswald,  monospace;
    background-color: #e9e9ea;
    border-top: solid 4px #163143;
    color: #163143;
    width: 100%;
}

.headvorm-lesser {
    
	display: inline-block;
    flex: 4;
    position: relative;
    text-align: center;
    font-family: oswald,  monospace;
    color: #163143;
    text-decoration: none;
	padding: 10px 10px 10px 10px;

}

.header-content {
	display: flex;
    flex: 2;
	flex-flow: column;
	z-index: 1;
	
	height: 60px;
}

.header-content-title {
	width:100%;
	position:absolute;
}

.header-content-logo {
	display: block;
}

img.logo {
	/*lengte & breedte*/
	height: 46px;
	width:85px;
	
	display: inline;
	
	position: ABSOLUTE;
	float: left;
	margin-left: 10%;
	margin-top: 8px;
	opacity: 1;
	transition: all 0.75s;
	
}

.titel {
	/*text*/
	text-align:center;
	font-family: oswald,  monospace;
	text-transform: uppercase;
	letter-spacing: 1.0887244px;
	font-weight: 100;
	position: relative;
	z-index: 1;
	text-decoration: none;

	/*kleur*/
	color:#163143;
}

.boven {
    font-size: 20px;
    position: relative;
    margin-bottom: -4px;
    margin-top: -2px;
}

.onder	{
	font-weight: 100;
    margin-top: 0;
    letter-spacing: 0.3em;
    font-size: 24px;
    margin-bottom: 0px;
}

div.headvorm >a:link, div.headvorm >a:visited { 
    color:#163143;
    text-decoration: none;
}

div.headvorm >a:link:active, div.headvorm >a:visited:active { 
    color: #d4263e;
}

/*dropdown gebeuren*/
	button.menu-toggle {
		display:none;
		height:46px;
		width: 100%;
		float:left;
		border: solid 0 #d9d9da;
	}
	
@media only screen and (max-width: 650px) {
	
	img.logo {
    opacity:0;
    transform:rotateY(90deg);
	transition: all 0.75s;
	
	}
	
	button.menu-toggle {
		display:block;
		background-color: #d9d9da;
		position: relative;
		z-index:1;
		border-top:solid 4px #163143;
	}
	
	[src*=reacursist] { /* hamburger image*/
		height:35px;
		width: 35px;
		margin: auto;
	}
	
	.headvorm/*, .headvorm-lesser*/ {
		display: none;
	}
	
	.headvorm-lesser {
	padding:5px 0;
	}
	
	.zichtbaar {
		visibility: visible;
		display: block;
	}
	
	.headvorm-lesser{
		transition:margin-top 1s;
		
		border-bottom:solid 3px #e9e9ea;
	}
	
	.headvorm-lesser:hover{
		transition:margin-top 1s;
		
		border-bottom:solid 3px #163143;
	}
	
	div.headvorm > a {
		float: left;
		width: 100%;
		background-color: #e9e9ea;
	}
	
	div.headvorm > a:hover {
     	color: #e9e9ea;
     	background-color: #163143;
		transition:margin-top 1s;
	}
	
	.headvorm-lesser:nth-of-type(1){
		/*margin-top: 42px;*/
		border-top:solid 3px #163143;
	}
	
	div.headvorm > a:hover{
		border-bottom-color: black;
	}

}
