
#topbar {
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #234152;
	border-bottom: 2px solid #d32b17;
}
#sidetopbar {
	float: right;
}
#borderimage {
	float: left;
	width: 1px;
	background-color: #234152;
	border-bottom: 30px solid #564573;
	border-left: 30px solid #564573;
    -webkit-border-image: url(../feedback/css/bovenste_balk.png) 100% round;
    -o-border-image: url(../feedback/css/bovenste_balk.png) 100% round;
    border-image: url(../feedback/css/bovenste_balk.png) 100% round;
}
#player__name {
	width: 175px;
	height: 28px;
	background-color: #234152;
	border-bottom: 2px solid #d32b17;
}
h1 {
	clear: both;
	margin: 50px 0 25px 0;
	color: #234152;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
}
h2 {
	margin: 25px 0 25px 0;
	color: #234152;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	text-align: center;
}
p {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#knoppen {
	margin: 60px auto 0 auto;
	text-align: center;
}
a {
	display: inline-block;
	width: 210px;
	height: 35px;
	margin: 8px 28px 28px 28px;
	padding-top: 10px;
	color: #acd7da;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	background: url(../feedback/css/knop_goed.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: center;
}

a:focus {
	border: 8px solid #d32b17;
	margin: 0 20px 20px 20px;
}



.container {
	margin: 0 auto;
	max-width: 1280px;
}

.button {
	display: inline-block;
}
