@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:500');

form, label {
	font: inherit;
}

h1 {
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	background-color: #fffefe;/*fix tab here*/
}

body {
	background-color: #fffefe;
}

#borderimage {
	float: left;
	width: 1px;
	background-color: #234152;
}

#player__name {
}

/*lobby etc*/

#main {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
	width: -webkit-fill-available;
}

#game_id {
	margin: 8px auto;
	padding: 4px;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	color: #234152;
	background-color: #ffffff;
	text-align: center;
}

#leader {
	width: 25%;
	height: 5%;
	margin: 10% 0% 0% 0%;
	padding: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #234152;
}

p {
	color: #234152;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#player_list {
	display: flex;
	display: -webkit-flex; /* Safari 6.1+ */
	display: -ms-flex; /* IE 10 */
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	font-family: 'Roboto', sans-serif;
	padding:4px;
	width:55%;
	font-size: 20px;
	color: #234152;
	list-style: none;
}

#player_list li{
	margin: 8px auto 0 auto;
	padding:4px;
	width:250px;
	background-color: #e9e9ea;
	border-top: 4px solid #163143;
	text-align:center;
}

ul#player_list li button{
	float:left;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #234152;
	border: none;
	background: none;
}
button #start {
	width: 277px;
	height: 54px;
	margin: 8px;
	padding: 0 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #acd7da;
	border: 0px solid #a41600;
	background: url(knop_goed.png);
	background-size: contain;
	background-repeat: no-repeat;
}
button #start:focus {
	width: 293px;
	height: 70px;
	padding: 0 30px;
	margin: 0;
	font-size: 20px;
	border: 8px solid #d32b17;
}

div.button {
	display: block;
    margin: 8px auto 0 auto;
}


@media screen and (min-width: 650px) {
	h1 {
		margin: auto;
		font-size: 40px;
	}
	#player_list li {
		width: 40%;
	}

}

/*einde lobby*/

#title > h1 {
	padding: 18px;
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: #234152;
	background-color: #fffefe;
	text-align: center;
}

#title > p {
	margin: 10px 0 0 0;
	color: #234152;
	font-family: oswald,  monospace;
	font-size: 21px;
	text-align: center;
}

 p#error {
	margin: 0px 0 0 0;
	color: #d4263e;
	font-family: oswald,  monospace;
	font-size: 21px;
	text-align: center;
}

#title p {
	width: 70%;
	margin: 30px auto;
}
.formfield {
	margin-left: -56.9px;
	margin-top: 20px;
	width: 441.894px;
	height: 50px;
	padding: 2px 5px 0px 5px;
	font-family: oswald,  monospace;
	font-size: 16px;
	color: #163143;
	border-top: 3px solid #234152;
	background-color: #e9e9ea;
	border-bottom-right-radius: 2px;
}
.red_border {
	width: 334px;
	margin: 0% auto 3% auto;
}

label[for=name]{
    text-align: center;
    margin: 20px;
}

label[for=code]{
    text-align: center;
    margin: 20px;
}

label[for=cards]{
    text-align: center;
    margin: 20px;
}

input[type=text], select {
	border-radius: 2px;
	border: 1px solid #234152;
	float: right;
	margin: 6px 5px;
}

input[type=text]:focus {
	margin: 3px 2px;
}

input[type=submit] {
	display: block;
	height: 40px;
	margin: 8px auto 0 auto;
	padding: 0 42px;
	font-family: oswald,  monospace;
	font-size: 17px;
	color: #e9e9ea; /*acd7da*/
	background-color: #163143;
	border-radius: 10px;
}
input[type=submit]:hover {
	cursor: pointer;
}
input[type=submit]:focus {
	cursor: pointer;
}

button[name=join_button], button[name=makeLobbyButton] {
	display: block;
    margin: 8px auto 0 auto;
}

button[name=join_button]:focus, button[name=makeLobbyButton]:focus {
	background-color: #e9e9ea;
	color: #163143;
	
}

.button-positie > div.button {
	display:inline-block;
}

/*div.button {
	display: block;
    margin: 8px auto 0 auto;
}*/
.startscherm-content {
	color: var(--rood);
	margin: 50px auto 30px auto;
}

.button:focus {
	background-color: #e9e9ea;
	color: #163143;
}

@media only screen and (max-width: 650px) {
	
	#borderimage {
		float: left;
		width: 1px;
		background-color: #234152;
	}
	
	#player__name {
	}
	
	#title > h1 {
		padding: 18px;
		text-decoration: underline;
		font-family: 'Oswald', sans-serif;
		font-size: 35px;
		color: #234152;
		background-color: #fffefe;
		text-align: center;
	}
	
	#title > p {
		margin: 10px 0 0 0;
		color: #234152;
		font-family: oswald,  monospace;
		font-size: 16px;
		text-align: center;
	}
	
	p#error {
		margin: 0px 0 0 0;
		color: #d4263e;
		font-family: oswald,  monospace;
		font-size: 16px;
		text-align: center;
	}
	
	#title p {
		width: 70%;
		margin: 30px auto;
	}
	
	.formfield {
		margin-left: 0px;
		margin-top: 15px;
		width: 320px;
		height: 30px;
		padding: 2px 5px 0px 5px;
		font-family: oswald,  monospace;
		font-size: 16px;
		color: #163143;
		border-top: 3px solid #234152;
		background-color: #e9e9ea;
		border-bottom-right-radius: 2px;
	}
	
	.red_border {
		width: 334px;
		margin: 0% auto 3% auto;
	}
	
	label[for=name]{
		text-align: center;
		margin: 20px;
	}
	
	label[for=code]{
		text-align: center;
		margin: 20px;
	}
	
	label[for=cards]{
		text-align: center;
		margin: 20px;
	}
	
	input[type=text], select {
		border-radius: 2px;
		border: 1px solid #234152;
		float: right;
		margin: 6px 5px;
	}
	
	input[type=text]:focus {
		margin: 3px 2px;
	}
	
	input[type=submit] {
		display: block;
		height: 40px;
		margin: 8px auto 0 auto;
		padding: 0 42px;
		font-family: oswald,  monospace;
		font-size: 17px;
		color: #e9e9ea; /*acd7da*/
		background-color: #163143;
		border-radius: 10px;
		
	}
	
	button[name=join_button], button[name=makeLobbyButton] {
		width: 250px;
	}
	
	.startscherm-content {
	color: var(--rood);
	margin: 0;
    padding: 30px 0;
	}
	
	/*lobby kleine schermen*/
	ul#player_list {
		display:block;
		width: auto;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		color: #234152;
		list-style: none;
	}
	
	ul#player_list li{
		padding:4px;
		width:250px;
		margin:5px;
		background-color: #e9e9ea;
		border-top: 4px solid #163143;
	}
	
	button#start {
		width: 250px;
		margin: auto;
	}
	
	
	/*einde lobby kleine schermen*/
}
