/* Stylesheet voor spelvorm 1, Bewustwording. Voor unieke code alleen voor Spelvorm 1. */


/* Informatie pagina CSS */

h1 {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 40px;
}

.button {
	cursor: pointer;
}

.button p {
	font-size: 15px;
	color: var(--grijs);
}

.button:hover p {
	color: var(--dkrblauw);
}


/* Ontvangen kaart CSS */


#current {
	text-align: center;
	position: relative;
	bottom: 150px;
	color: white;
	font-size: 18px;
}

#actievekaart img {
	width: 190px;
	height: 270px;
	margin: 0 auto;
	display: block;
}

/* Kaart inruilen CSS > Huidige kaart */

.linker-menu {
	float: left;
}

.card-holder-r {
	background-image: url("../afbeeldingen/rode-kaart.png");
	background-size: 165px 230px;
	height: 230px;
    width: 165px;
	position: relative;
	top: 140px;
	left: 100px;
}

.new-hand {
	text-align: center;
    position: relative;
    top: 100px;
	width: 164px;
	color: white;
}

.huidige-kaarten {
	top: 165px;
    left: 86px;
    position: relative;
    text-align: center;
    width: 185px;
	display: inline-block;
    padding: 12px;
    margin: 0 5px;
    border: 2px solid var(--dkrblauw);
    border-radius: 20px;
    color: var(--grijs);
    background-color: var(--dkrblauw);
}

/* Kaart inruilen CSS > Rijen */

.kaart-rij {
    display: block;
    margin: 40px auto 0;
	float: right;
    text-align: center;
    width: 800px;
	list-style: none;
	
}

.kaart {
	display: inline-block;
	vertical-align: middle;
}

.kaart p {
	color: white;
}

.kaart button {
	background-image: url(../afbeeldingen/blauwe-kaart.png);
    height: 230px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	}
	
.kaart button:hover, .kaart button:focus {
	background-image: url(../afbeeldingen/blauw-rood-kaart.png);
}

@media screen and (max-width: 990px) {
	
	.linker-menu {
	margin: 50px auto;
	text-align: center;
	float: none;
	}
	
	.card-holder-r {
	position: initial;
	margin: 0 auto 50px;
	}
	
	#hand {
	box-sizing: border-box;
	margin: 0 auto;	
	}
	
	.kaart-rij {
	margin: 0 auto 20px;
	float: none;
	}
	
	.huidige-kaarten {
	position: initial;
	margin: 20px 0;
	text-align: center;
	display: inline-block;
	}
}

@media screen and (max-width: 816px) {
	.linker-menu {
	margin: 60px 0 25px;
	}
	
	.card-holder-r {
	margin: 0 auto 25px;
	}
	
	.kaart-rij {
	width: 400px;	
	}
	
	.card-holder-b {
	margin-bottom: 20px;
	}
}
