/* Unieke kleurcode voor de h1 en andere toekomstige CSS van spelvorm 3, Combi. */

.startscherm-content {
	color: #60bebb;
}


/* Achtergrond*/

span.alienBackLeft {
	background-image: url(../afbeeldingen/Links_Alien_Cyan.svg);
}

span.alienBackRight {
	background-image: url(../afbeeldingen/Rechts_Alien_Cyan.svg);
}

@media screen and (max-width: 1240px) {
	
	span.alienBackLeft, span.alienBackRight {
		display:none;
	}
}


/* Aanmaak/Inlog Scherm CSS */

#title h2 {
	padding: 18px;
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: #234152;
	text-align: center;
}

#title p {
	margin: 30px auto;
	color: #234152;
	font-family: 'Oswald',  monospace;
	font-size: 21px;
	text-align: center;
	width: 70%;
}

#error {
	margin: 0px 0 0 0;
	color: #d4263e;
	font-family: 'Oswald',  monospace;
	font-size: 21px;
	text-align: center;
}

.formfield {
	margin-left: -56.9px;
	margin-top: 20px;
	width: 441.894px;
	height: 50px;
	padding: 10px;
	font-family: 'Oswald',  monospace;
	font-size: 16px;
	color: #163143;
	border-top: 3px solid #234152;
	background-color: #e9e9ea;
	border-bottom-right-radius: 2px;
}
.red_border {
	width: 334px;
	margin: 0% auto 3% auto;
}
label {
	font-family:inherit;
}

/* input[type=text], select, input[type=password] {
	border-radius: 2px;
	border: 1px solid #234152;
	float: right;
	margin: 6px 5px;

} */

input[type=text], input[type=password], select {
	border-radius: 2px;
	border: 1px solid #234152;
	margin: 2px 5px;
	padding-left: 2px;
	float: right;
}

.join-button {
	text-align: center;
    width: 100%;
}


/* Kaart Rij Re-Redux */

.kaart-rij {
    display: block;
    margin: 50px auto 0;
    text-align: center;
    width: 100%;
	list-style: none;
}

.kaart {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}

.kaart button {
	background-image: url(../afbeeldingen/blauwe-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	color: white;
	}
	
.kaart button:hover, .kaart button:focus {
	background-image: url(../afbeeldingen/blauw-rood-kaart.png);
}

.trade-rij .kaart button:hover, .trade-rij .kaart button:focus {
	background-image: url(../afbeeldingen/blauwe-kaart.png);
}

.eind-kaart button {
	background-image: url(../afbeeldingen/rode-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	font-size: 18px;
	margin: 0 15px;
	color: white;
	}
	
.eind-kaart button:hover, .eind-kaart button:focus {
	background-image: url(../afbeeldingen/rode-kaart.png);
}


/* Speler's Hand */ 

.speler-beurt {
	position: relative;
	right: 420px;
	bottom: 0px;
	text-decoration: underline;
	font-size: 20px;
}


/* Speleider kant */

.player-menu {
	text-align: center;
    margin: 60px auto 0;
}


/* Kaarten Geven Pagina */

.linker-menu {
	float: left;
}

.linker-menu h2 {
	text-decoration: underline;
}

.linker-menu .button {
	display: block;
	margin-top: 4px;
}

.eind-kaart {
	margin-bottom: 10px;
	text-align: center;
}


/* Gift Card Give-away */

#card_display {
	background-image: url("../afbeeldingen/rode-kaart.png");
	background-size: 166px 230px;
	height: 230px;
    width: 166px;
	position: relative;
	top: 40px;
	left: 0;
	margin: 0 auto 50px auto;
}

#current_card {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    font-size: 18px;
}


/* Player List CSS */

#player_list {
	
	/* Felix CSS */
	display: flex;
	display: -webkit-flex; /* Safari 6.1+ */
	display: -ms-flex; /* IE 10 */
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	font-family: 'Roboto', sans-serif;
	padding:4px;
	width: 50%;
	font-size: 20px;
	color: #234152;
	list-style: none;
	margin: 20px auto 50px;
	
}

.card_stack h3 { /* So yea this is new, it's an id in spelvorm 2 but here it's a class*/
	margin: 10px 0;
	font-size: 18px;
	text-decoration: underline;
	margin-top: 15px;	
	text-align: center;
}

.card_stack ul {
	list-style: none;
	text-align: center;
}

#player_list li {
	display: inline-block;
	padding: 4px;
	width: 250px;
	margin: 8px auto;
	background-color: #e9e9ea;
	border-top: 4px solid #163143;
	text-align:center;
}

#player_list li button{
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /* Was 20px */
	color: inherit;
	border: none;
	background: none;
	cursor: pointer;
	float:right;
}

/*hover*/
ul#player_list li:hover, ul#player_list li:hover  {
	color:#e9e9ea;
	background-color: #163143;
	border-top-color: #e9e9ea;
}

/*focus*/
ul#player_list li:focus{
	color:#d9d9da;
	background-color: #062133;
	border-top-color: #d9d9da;
}

/*ACTIVE*/
ul#player_list li:active{
	color:#e9e9ea;
	background-color: #d4263e;
	border-top-color: #163143;
}


#player_list li .player-button button {
	float:none
}

#current_player_indicator { 
	margin-bottom: 30px; 
}

.player-button button {
	width: 250px;
	/*margin: 4px;*/
	height: 30px;
	border: 0;
	padding: 0;
}

.player-button button:hover, .player-button button:focus {
	color: #e9e9ea;
	background-color: #234152;
}


/* End Game */

.bottom-menu {
	margin: 30px auto 0 auto;
	text-align: center;
}


/* Media Queries */

@media only screen and (max-width: 650px) {
	
	#error {
		margin: 0px 0 0 0;
		color: #d4263e;
		font-family: 'Oswald',  monospace;
		font-size: 16px;
		text-align: center;
	}
	
	.formfield {
		margin-left: 0px;
		margin-top: 15px;
		width: 320px;
		height: 30px;
	}
	
	input[type=text], select {
		margin: 3px 2px;
	}
	
	button[name=makeLobbyButton] {
		width: 250px;
	}
	
	.startscherm-content {
	margin: 0;
    padding: 30px 0;
	}
	
	ul#player_list {
		display:block;
	}
	
	ul#player_list li{
		height: 30px;
		margin:5px;
	}
	
	button#start {
		width: 250px;
		margin: auto;
	}
}

@media screen and (max-width: 1050px) {
	h2 {
	padding-top: 10px;
	}
	
	.kaart-rij {
	width: 100%;
	}
	
	.eind-kaart button {
	margin:	0;
	}
	
	.speler-beurt {
	position: initial;
	}
	
	.linker-menu h2 {
	left: 0;
	margin: 25px 0 25px 0;
	}
	
	.linker-menu {
	margin: 50px auto;
	text-align: center;
	float: none;
	}
}

@media screen and (max-width: 816px) {
	.linker-menu {
	margin: 60px 0 25px;
	}
}

@media screen and (max-width: 650px) {
	
	#card_display {
	margin: 0 auto 0;
	}	
	
	#player_list li {
		display: block;
		padding: 10px 0;
	}
	
	.player-button button {
	width: 180px;
	height: 30px;
	}

}


/* Media Query for ants */

@media screen and (max-width: 400px)  {
	h2 {
	font-size: 22px;
	}
	
	.eind-kaart button {
	background-size: 130px 200px;
	height: 200px;
	width: 130px;
	font-size: 16px;
	}
	
	.kaart-rij {
	width: 100%;
	}
	
	#player_list li {
	width: 100%;
	}
}
