/* Main, Leader CSS */

#main {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
	width: -webkit-fill-available;
}

#game_id {
	margin: 8px auto;
	padding: 4px;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	color: #234152;
	background-color: #ffffff;
	text-align: center;
}

#leader {
	width: 25%;
	height: 5%;
	margin: 10% 0% 0% 0%;
	padding: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #234152;
}


/* Player List CSS */

#player_list {
	
	/* Felix CSS */
	display: flex;
	display: -webkit-flex; /* Safari 6.1+ */
	display: -ms-flex; /* IE 10 */
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	font-family: 'Roboto', sans-serif;
	padding:4px;
	width:55%;
	font-size: 20px;
	color: #234152;
	list-style: none;
	
	/* Sander CSS */
	margin-top: 60px;
	text-align: center;
}

#player_list li {
	display: inline-block;
	padding: 4px;
	width: 250px;
	margin: 8px auto 0 auto;
	background-color: #e9e9ea;
	border-top: 4px solid #163143;
	text-align:center;
}

ul#player_list li button{
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /* Was 20px */
	color: #234152;
	border: none;
	background: none;
	cursor: pointer;
}

/* #player_list li button:hover, #player_list li button:focus {
	color: #e9e9ea;
	background-color: #234152;
	border-top:
} */

button #start {
	width: 277px;
	height: 54px;
	margin: 8px;
	padding: 0 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #acd7da;
	border: 0px solid #a41600;
	background: url(knop_goed.png);
	background-size: contain;
	background-repeat: no-repeat;
}
button #start:focus {
	width: 293px;
	height: 70px;
	padding: 0 30px;
	margin: 0;
	font-size: 20px;
	border: 8px solid #d32b17;
}


/* Achtergrond*/

span.alienBackLeft {
	background-image: url(../afbeeldingen/Links_Alien_Red.svg);
}

span.alienBackRight {
	background-image: url(../afbeeldingen/Rechts_Alien_Red.svg);
}

@media screen and (max-width: 1240px) {
	
	span.alienBackLeft, span.alienBackRight {
		display:none;
	}
	
	#player_list li {
		width: 40%;
	}
}


/* Aanmaak/Inlog Scherm CSS */

#title h2 {
	padding: 18px;
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: #234152;
	text-align: center;
}

#title p {
	margin: 30px auto;
	color: #234152;
	font-family: oswald,  monospace;
	font-size: 21px;
	text-align: center;
	width: 70%;
}

#error {
	margin: 0px 0 0 0;
	color: #d4263e;
	font-family: oswald,  monospace;
	font-size: 21px;
	text-align: center;
}

.formfield {
	margin-left: -56.9px;
	margin-top: 20px;
	width: 441.894px;
	height: 50px;
	padding: 2px 5px 0px 5px;
	font-family: oswald,  monospace;
	font-size: 16px;
	color: #163143;
	border-top: 3px solid #234152;
	background-color: #e9e9ea;
	border-bottom-right-radius: 2px;
}
.red_border {
	width: 334px;
	margin: 0% auto 3% auto;
}
label {
	font-family:inherit;
}

label[for=name], label[for=code], label[for=cards]{
    text-align: center;
    margin: 20px;
}

input[type=text], select {
	border-radius: 2px;
	border: 1px solid #234152;
	float: right;
	margin: 6px 5px;
}

.button-positie {
	display:inline-block;
}

/*div.button {
	display: block;
    margin: 8px auto 0 auto;
}*/

.startscherm-content {
	color: #d4263e;
	margin: 50px auto 30px auto;
}

.join-button {
	text-align: center;
    width: 100%;
}

@media only screen and (max-width: 650px) {
	
	#error {
		margin: 0px 0 0 0;
		color: #d4263e;
		font-family: oswald,  monospace;
		font-size: 16px;
		text-align: center;
	}
	
	.formfield {
		margin-left: 0px;
		margin-top: 15px;
		width: 320px;
		height: 30px;
	}
	
	input[type=text], select {
		margin: 3px 2px;
	}
	
	button[name=makeLobbyButton] {
		width: 250px;
	}
	
	.startscherm-content {
	margin: 0;
    padding: 30px 0;
	}
	
	ul#player_list {
		display:block;
		width: auto;
	}
	
	ul#player_list li{
		height: 30px;
		margin:5px;
	}
	
	button#start {
		width: 250px;
		margin: auto;
	}
}


/* Spelvorm 2 Game CSS */

#turn {
	margin: 10px 0;
	text-align: center;
}

#card_display {
	background-image: url("../afbeeldingen/rode-kaart.png");
	background-size: 166px 230px;
	height: 230px;
    width: 166px;
	position: relative;
	top: 40px;
	left: 0;
	margin: 0 auto;
}

#current_card {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    font-size: 18px;
}

.player-menu {
	text-align: center;
    margin: 60px auto 0;
}

.player-button button {
	width: 130px;
	height: 26px;
	border: 0px;
	border-top: 3px solid black;
}

#card_stack h3 {
	margin: 10px 0;
	font-size: 18px;
	text-decoration: underline;
}

#amount, #card_stack h3, #card_stack p {
	margin-top: 15px;	
}

#card_stack h3, #card_stack p, #card_stack ul, #amount {
	text-align: center;
}

#card_stack ul {
	list-style: none;
}

@media screen and (max-width: 650px) {
	
	/*h2 {
	margin: 70px 0 25px 0;	
	}*/ ?
	
	#card_display {
		margin: 0 auto 0;
	}	
	
	#player_list li {
		display: block;
		padding: 10px 0;
		width: 100%;
	}
	
	.player-button button {
		width: 180px;
		height: 30px;
	}
}


/* Eindscherm CSS */

.eind-content {
	margin-top: 120px;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.eind-content {
	margin-top: 20px;
	}
}

.leave-game {
	margin-top: 40px;
}

.bottom-menu {
	margin: 30px auto 0 auto;
	text-align: center;
}


/* Kaart Rij Redux */

.kaart-rij {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    width: 100%;
	list-style: none;
}

.kaart {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}

.eind-kaart button {
	background-image: url(../afbeeldingen/rode-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	color: white;
	font-size: 18px;
	}

@media screen and (max-width: 1280px) {
	.kaart-rij {
	margin: 0 auto 20px;
	float: none;
	width: 800px;
	}	
}
	
@media screen and (max-width: 1050px) {
	.kaart-rij {
	width: 400px;	
	}
}


/* Media Query for ants */

@media screen and (max-width: 320px)  {
	
	.red_border {
		width: 270px;
	}
	
	.formfield {
		width: 260px;
	}
	
	label[for="name"], label[for="code"], label[for="cards"]  {
		margin: 0;
	}
	
	.eind-kaart button {
		background-size: 130px 200px;
		height: 200px;
		width: 130px;
		font-size: 16px;
	}
	
	.kaart-rij {
		width: 100%;
	}
	
	.form-email {
		width: 273px;
	}
	
	.form-input {
		width: 200px;
	}
}