/* Unieke kleurcode voor de h1 en andere toekomstige CSS van spelvorm 3, Combi. */

.startscherm-content {
	color: #60bebb;
}


/* Achtergrond*/

span.alienBackLeft {
	background-image: url(../afbeeldingen/Links_Alien_Cyan.svg);
}

span.alienBackRight {
	background-image: url(../afbeeldingen/Rechts_Alien_Cyan.svg);
}

@media screen and (max-width: 1240px) {
	
	span.alienBackLeft, span.alienBackRight {
		display:none;
	}

}


/* Kaart Rij Re-Redux */

.kaart-rij {
    display: block;
    margin: 50px auto 0;
    text-align: center;
    width: 100%;
	list-style: none;
}

.kaart {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}

.kaart button {
	background-image: url(../afbeeldingen/blauwe-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	color: white;
	}
	
.kaart button:hover, .kaart button:focus {
	background-image: url(../afbeeldingen/blauw-rood-kaart.png);
}

.eind-kaart button {
	background-image: url(../afbeeldingen/rode-kaart.png);
    height: 234px;
    width: 165px;
    background-size: cover;
	background-color: #fff;
	border: none;
	font-size: 18px;
	margin: 0 15px;
	color: white;
	}
	

/* Speler's Hand */ 

.speler-beurt {
	position: relative;
	right: 420px;
	bottom: 0px;
	text-decoration: underline;
	font-size: 20px;
}
	
@media screen and (max-width: 1050px) {
	h2 {
	padding-top: 10px;
	}
	
	.kaart-rij {
	width: 75%;
	}
	
	.eind-kaart button {
	margin:	0;
	}
	
	.speler-beurt {
	position: initial;
	}
}

/* Kaarten Geven Pagina */

.linker-menu {
	float: left;
}

.linker-menu .button {
	display: block;
}

.new-card {}

/* Media Query for ants */

@media screen and (max-width: 400px)  {
	h2 {
	font-size: 22px;
	}
	
	.eind-kaart button {
	background-size: 130px 200px;
	height: 200px;
	width: 130px;
	font-size: 16px;
	}
	
	.kaart-rij {
	width: 100%;
	}
}
