/* Stylesheet voor spelvorm 1, Bewustwording. Voor unieke code alleen voor Spelvorm 1. */


h1 {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 40px;
}

.button p {
	font-size: 15px;
	color: var(--grijs);
}

.button:hover p {
	color: var(--dkrblauw);
}

#current {
	text-align: center;
	position: relative;
	bottom: 150px;
	color: white;
	font-size: 18px;
}

#actievekaart img {
	width: 190px;
	height: 270px;
	margin: 0 auto;
	display: block;
}

.new-row {
    display: -webkit-box;
    margin: 0 auto 40px;
    text-align: center;
    width: 60%;
	list-style: none;
}

.kaart {
	width: 140px;
	padding-right:10px;
}

.kaart {
	background-image: url("../afbeeldingen/blauwe-kaart.png");
	background-size: 140px 190px;
	height: 190px;
}

.kaart p {
	color: white;
	text-align: center;
}
