html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #71bbff);
}
body {
    width: 60%;
    height: 100%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #fffefe;
    box-shadow: 0px 0 31px 0 #65606a;
}
#current_card {
    margin: 13%;
    border: 17px solid #830e73;
    border-radius: 9px;
}
#player_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #000000;
    font-family: calibri, sans-serif;
    list-style: none;
}
#player_list > li {
    width: 15.73%;
    height: 27.62%;
    margin: 6px;
    padding: 4px;
    border: 1px solid #166432;
    border-radius: 6px;
    color: #fffefe;
    background-color: #166432;
    font-family: calibri, sans-serif;
    list-style: none;
    /*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
#card_stack {
    border: 1px solid #a82519;
    border-radius: 6px;
    color: #fffefe;
    background-color: #a82519;
    list-style: none;
}
@media screen and (min-width: 40em) /*640px*/ {
    body {
        background-color: #ffffff; /*#199bbe;*/
    }
}
@media screen and (min-width: 64em) /*1024px*/ {
    body {
        background-color: #fffffe; /*#1920ef;*/
    }
}
@media screen and (min-width: 80em) /*1280px*/ {
    body {
        background-color: #ffffff;
    }
}