html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #71bbff);
    background-repeat: no-repeat;
}
body {
    display: flex;
        display: -webkit-flex; /* Safari 6.1+ */
        display: -ms-flex; /* IE 10 */
    flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    width: 60%;
    height: 100%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #fffefe;
    box-shadow: 0px 0 31px 0 #65606a;
}
h1 {
    flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
    align-self: flex-start;
        -webkit-align-self: flex-start;
        -ms-align-self: flex-start;
    width: 19%;
    height: 5%;
    margin: 3%;
    padding: 5px;
    font-family: sans-serif;
    font-size: 2.6vw;
    color: #ffffff;
    border-radius: 13px;
    background-color: #2752a3;
}
#current_card {
    flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
    width: 33%;
    height: 33%;
    border: 11px solid #830e73;
    border-radius: 9px;
}
#player_list {
    flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
    align-self: flex-start;
            -webkit-align-self: flex-start;
            -ms-align-self: flex-start;
    width: 33%;
    font-family: calibri, sans-serif;
    list-style: none;
}
#player_list > li {
    width: 167px;
    height: 13.62%;
    margin: 6px;
    padding: 4px;
    border: 1px solid #166432;
    border-radius: 6px;
    color: #fffefe;
    background-color: #166432;
    font-family: calibri, sans-serif;
    list-style: none;
    /*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
#player_list > li > button { /*Note to self: Talk to Bas about button inside li.*/
    background: transparent;
    border: none !important; /*and about his border style*/
}
#cards_left {
    align-self: flex-start;
            -webkit-align-self: flex-start;
            -ms-align-self: flex-start;
    margin: 1%;
    border-radius: 6px;
    color: #fffefe;
    background-color: #830e73;
    font-family: calibri, sans-serif;
}
.card_stack {
    flex: 0 auto;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
    align-self: flex-start;
        -webkit-align-self: flex-start;
        -ms-align-self: flex-start;
    margin: 1%;
    /*border: 1px solid #a82519;*/
    border-radius: 6px;
    color: #fffefe;
    background-color: #a82519;
    font-family: calibri, sans-serif;
    list-style: none;
}
#leader > button {
    align-self: center;
        -webkit-align-self: center;
        -ms-align-self: center;
    margin: 1%;
    padding: 1%;
    background-image: linear-gradient(to top, #ffffff, #ffffff, #ffffff, #a82519, #ffffff, #ffffff, #ffffff)
    border: 0px solid #000000;
}
@media screen and (min-width: 40em) /*640px*/ {
    body {
        background-color: #ffffff; /*#199bbe;*/
    }
}
@media screen and (min-width: 64em) /*1024px*/ {
    body {
        background-color: #fffffe; /*#1920ef;*/
    }
}
@media screen and (min-width: 80em) /*1280px*/ {
    body {
        display: flex;
            display: -webkit-flex; /* Safari 6.1+ */
            display: -ms-flex; /* IE 10 */
        flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
        justify-content: space-around;
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
        align-items: stretch;
            -webkit-align-items: stretch;
            -ms-align-items: stretch;
        background-color: #ffffff;
    }
    h1 {
        margin-right: 37%;
    }
    #current_card {
        flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
        align-self: baseline;
            -webkit-align-self: baseline;
            -ms-align-self: baseline;
        width: 33%;
        height: 33%;
        margin: 5% 13% 1% 7%;
        border: 13px solid #830e73;
        border-radius: 9px;
    }
    #player_list > li:first-child {
        /*margin-top: 34%;*/
        background-color: #267442;
    }
    /*#player_list > li:last-child {
        margin-bottom: 8%;
    }*/
}