html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
	background-color: #fffefe;/*fix tab here*/
}
body {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	width: 60%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #fffefe;
}
h1 {
	width: 30%;
	height: 47px;
	margin: 15% auto 15% auto;
	padding: 18px;
	font-family: sans-serif;
	font-size: 31px;
	font-weight: bold;
	color: #234152;
	background-color: #fffefe;
}
#naamstyle {
	width: 43%;
	height: 35px;
	margin: 13% auto 3% auto;
	padding: 1px;
	font-family: sans-serif;
	font-size: 1.6vw;
	color: #ffffff;
	background-color: #234152;
}
#groepstyle {
	width: 43%;
	height: 35px;
	margin: 5% auto 10% auto;
	padding: 1px;
	font-family: sans-serif;
	font-size: 1.6vw;
	color: #ffffff;
	background-color: #234152;
}
input[type=text] {
	border-radius: 0px;
	border: 0px solid #234152;
}
input[type=submit] {
	width: 30%;
	height: 30%;
	margin: 0% 35% 0% 35%;
	font-family: sans-serif;
	font-size: 1.6vw;
	border: 0px solid #234152;
	color: #ffffff;
	background-color: #234152;
}