@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto:500');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	/*background-image: linear-gradient(to bottom, #ffffff, #71bbff);*/
	background-repeat: no-repeat;
}
body {
	background-color: #ffffff;
	/*box-shadow: 0px 0 31px 0 #65606a;*/
}
#container {
	max-width: 1200px;
	margin: 30px auto;
}
#topbar {
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #234152;
	border-bottom: 2px solid #d32b17;
}
#sidetopbar {
	float: right;
	height: 28px;
}
#borderimage {
	float: left;
	width: 1px;
	background-color: #234152;
	border-bottom: 30px solid #564573;
	border-left: 30px solid #564573;
    -webkit-border-image: url(bovenste_balk.png) 100% round;
    -o-border-image: url(bovenste_balk.png) 100% round;
    border-image: url(bovenste_balk.png) 100% round;
}
#player__name {
	width: 275px;
	height: 28px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-color: #234152;
	border-bottom: 2px solid #d32b17;
	padding: 5px;
}
#player__name span {
	width: 175px;
	height: 28px;
}
#help {
	float: right;
	width: 50px;
	height: 25px;
	margin: -4px 0 0 0;
	background-color: #234152;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
h1 {
	margin: 25px 0px 25px 0px;
	color: #234152;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
}
#card_active {
	margin-left: 20px;
	padding: 0px;
	color: #234152;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}
@media screen and (max-width: 768px) {
	#card_active {
		text-align: left;
	}
}
#card_display {
	width: 350px;
	height: 200px;
	background: url(./kaart-liggend_goed.png);
	background-size: contain;
	background-repeat:no-repeat;
}
#current_card {
	position: absolute;
	bottom: 22px;
	left: 55px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 21px;
	color: #234152;
	z-index: 2;
}
#blind_current_player {
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}
#player_list {
	font-family: 'Roboto', sans-serif;
	list-style: none;
}
#player_list > li {
	width: 167px;
	height: 13.62%;
	margin: 6px;
	padding: 4px;
	border: 0px solid #d81d26;
	border-bottom-width: 2px;
	border-left-width: 2px;
	color: #1f3f50;
	background-color: #fefeff;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	/*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
#player_list > li > button {
	background: transparent;
	border: 0px solid #020119;
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
	color: #1f3f50;
	text-align: left;
}
#cards_left {
	width: 170px;
	color: #1f3f50;
	background-color: #fefeff;
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
	border-bottom: 2px solid #d81d26;
	border-left: 2px solid #d81d26;
	clear: both;
	padding-left: 5px;
	margin-left: 22px;
	margin-top: 30px;
	margin-bottom: 30px;
}	
.card_stack {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}
.card_stack ul {
	list-style-type: none;
}
.card_stack ul li {
	width: 277px;
	height: 156px;
	margin: 8px;
	padding: 0;
	background: url(kaart-liggend_goed.png);
	background-size: contain;
	background-repeat:no-repeat;
}
.card_stack ul li p {
	position: absolute;
	bottom: 18px;
	left: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	border: 0;
	color: #234152;
	background-color: transparent;
	z-index: 2;
}
button {
	width: 246px;
	margin: 1%;
	padding: 0%;
	font-family: 'Roboto', sans-serif;
	background-color: #fffefe;
	border: 0px solid #000000;
	border-radius: 0px;
}
button img {
	width: 100%;
	height: 100%;
}
h2 {
	font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 768px) {
	body {
		background-color: #ffffff; /*#199bbe;*/
	}
	h1 {
	}
	#card_display {
		width: 320px;
		height: 182px;
	}
	#current_card {
		bottom: 18px;
		left: 40px;
	}
	#cards_left {
		clear: both;
		margin-left: 18%;
	}
}
@media screen and (min-width: 992px)  {
	body {
		background-color: #ffffff; /*#1920ef;*/
	}
	#card_display {
		width: 400px;
		height: 227px;
	}
	#current_card {
		bottom: 22px;
		left: 45px;
	}
	#cards_left {
		clear: right;
		margin-left: 0px;
		margin-top: 19px;
	}
}
@media screen and (min-width: 80em) /*1280px*/ {
	body {
		background-color: #ffffff;
	}
	#card_display {
		width: 500px;
		height: 279px;
	}
	#current_card {
		font-size: 24px;
		bottom: 28px;
		left: 54px;
	}
	#player_list > li:first-child {
		/*margin-top: 34%;*/
		background-color: #fdfdfd;
	}
}
.skiplink {/*krijgt geen focus in Vivaldi*/
	display: block;
	width: 277px;
	height: 54px;
	position: absolute;
	right: 500%;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #acd7da;
	text-align: center;
    text-decoration: none;
   	background: url(knop_goed.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.skiplink:focus {
	display: block;
	width: 277px;
	height: 54px;
	position: relative;
	right: inherit;
	text-decoration: none;
	color: #acd7da;
	padding-top: 15px !important;
	margin-top: -8px;
	text-align: center;
    text-decoration: none;
   	background: url(knop_goed.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 50px;
}
/* KNOPPEN */
#knoppen {
	clear: both;
	margin-bottom: 50px;
}
#knoppen button {
	width: 277px;
	height: 54px;
	padding: 0 42px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #acd7da;
	border: 0px #830e73 solid;
	background: url(knop_goed.png);
	background-size: contain;
	background-repeat:no-repeat;
	margin-top: 50px;
}
#knoppen button p {
	background-color: #294253;
}
#knoppen button:focus, #knoppen a.skiplink:focus {
	height: 70px;
	padding: 0 42px;
	border: 8px solid #d32b17;
	margin-top: 42px;
}
#knoppen a.skiplink:focus {

}