.skiplink {
	right: 300%;
	position: absolute;
}
.skiplink:focus {
	position: absolute;
	right: inherit;
	text-decoration: none;
}
/*This is a test file for the skiplink and will evantually be deleted.*/