html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #71bbff);
}
body {
    width: 60%;
    height: 100%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #fffefe;
    box-shadow: 0px 0 31px 0 #65606a;
}
#top {
    display: flex;
    width: 40%;
    margin: 0 auto 0 auto;
    justify-content: space-around;
}
#current {
    max-width: 16.83%;
    max-height: 27.81%;
    min-width: 98px;
    min-height: 19.20%;
    margin: 26px;
    padding: 6px;
    color: #ffffef;
    border-radius: 16px;
    background-color: #1d5981;
}
#backButton {
    height: 53px;
    max-width: 16.83%;
    min-width: 98px;
    margin: 26px;
    padding: 6px;
    color: #ffffef;
    border: 1px #830e73 solid;
    border-radius: 9px;
    background-color: #830e73;
}
#graveyard {
    max-width: 16.83%;
    max-height: 27.81%;
    min-width: 98px;
    min-height: 19.20%;
    margin: 26px;
    padding: 6px;
    color: #ffffef;
    border-radius: 16px;
    background-color: #a71d0f;
}
ul {
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    font-family: calibri, sans-serif;
    list-style: none;
}
ul li {
    flex: 1;
    /*width: 15.73%;
    height: 27.62%;*/
    max-width: 7.83%;
    max-height: 27.81%;
    min-width: 89px;
    min-height: 19.20%;
    margin: 26px;
    padding: 6px;
    border: 17px solid #830e73;
    border-radius: 16px;
    /*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
@media screen and (min-width: 40em) /*640px*/ {
    body {
        background-color: #ffffff; /*#199bbe;*/
    }
}
@media screen and (min-width: 64em) /*1024px*/ {
    body {
        background-color: #fffffe; /*#1920ef;*/
    }
}
@media screen and (min-width: 80em) /*1280px*/ {
    body {
        background-color: #ffffff;
    }
}