html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 70%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #fffefe;
}
#top {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	justify-content: space-around;
		-webkit-justify-content: space-around;
		-ms-justify-content: space-around;
	width: 100%;
	margin: 40px auto 0 auto;
	font-family: sans-serif;
	font-size: 17px;
}
#huidig p {
	width: 137px;
	padding: 6px 6px 0px 6px;
	font-family: sans-serif;
	color: #ffffef;
	background-color: #a71d0f;
}
#current {
	height: 19.20%;
	width: 137px;
	/*margin: 0px;*/
	padding: 6px;
	font-family: sans-serif;
	color: #ffffef;
	background-color: #1d5981;
}
#backButton {
	height: 43px;
	margin: 26px;
	padding: 6px 6px;
	font-family: sans-serif;
	font-size: 17.6px;
	color: #ffffef;
	border: 1px #830e73 solid;
	background-color: #830e73;
}
#graveyard {
	height: auto;
	width: 137px;
	margin: 26px;
	padding: 6px;
	font-family: sans-serif;
	font-size: 17px;
	color: #ffffef;
	background-color: #a71d0f;
}
ul {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	justify-content: space-around;
		-webkit-justify-content: space-around;
		-ms-justify-content: space-around;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	color: #000000;
	font-family: sans-serif;/*note to self: change fonts*/
	list-style: none;
}
ul li {
	width: 20%;
	height: 21.62%;
	margin: 26px 0px;
	padding: 3px;
	background-color: #ffffff;
}
ul li button {
	width: 100%;
	height: 40%;
	margin: 26px 0px;
	padding: 3px;
	font-family: sans-serif;
	font-size: 19px;
	color: #c4f6f8;
	border: 0px solid #234152;
	background-color: #234152;
	/*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
@media screen and (min-width: 40em) /*640px*/ {
	body {
		background-color: #ffffff; /*#199bbe;*/
	}
}
@media screen and (min-width: 64em) /*1024px*/ {
	body {
		background-color: #fffffe; /*#1920ef;*/
	}
}
@media screen and (min-width: 80em) /*1280px*/ {
	body {
		background-color: #ffffff;
	}
	#top {
		display: flex;
			display: -webkit-flex; /* Safari 6.1+ */
			display: -ms-flex; /* IE 10 */
		justify-content: space-around;
			-webkit-justify-content: space-around;
			-ms-justify-content: space-around;
		margin: 40px auto 0 auto;
		font-family: sans-serif;
		font-size: 17px;
	}
}