html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {

}
body {
	max-width: 1200px;
	margin: 0 auto 0 auto;
	background-color: #fffefe;
}
h1 {
	margin: 25px 0 25px 0;
	font-family: sans-serif;
	font-size: 21px;
	text-align: center;
}
#top {
	display: flex;
		display: -webkit-flex; /* Safari 6.1+ */
		display: -ms-flex; /* IE 10 */
	justify-content: space-around;
		-webkit-justify-content: space-around;
		-ms-justify-content: space-around;
	width: 100%;
	margin: 40px auto 0 auto;
	font-family: sans-serif;
	font-size: 17px;
}
#huidig h2 {
	width: 137px;
	font-family: sans-serif;
	color: #ffffef;
	background-color: #a71d0f;
}
#current {
	height: 19.20%;
	width: 137px;
	padding: 6px;
	font-family: sans-serif;
	color: #ffffef;
	background-color: #1d5981;
}
#backButton {
	height: 70px;
	width: auto;
	margin: 26px;
	padding: 0px 0px;
	font-family: sans-serif;
	font-size: 17.6px;
	color: #ffffef;
	border: 0px #830e73 solid;
	background-color: #c0fefe;
}
#backButton img {
	height: 70px;
	width: 258px;
}
.skiplink {
	right: 300%;
	position: absolute;
}
.skiplink:focus {
	position: absolute;
	right: inherit;
	background-color: #abd5d9;
	border: 6px solid #234152;
	text-decoration: none;
}
ul {
	color: #000000;
	font-family: sans-serif;/*note to self: change fonts*/
	list-style: none;
}
ul li {
	/*width: 320px;
	height: 200px;*/
	margin: 20px auto;
	background-color: #ffffff;
}

ul li img {
	width: 100%;
	z-index: 1;
}
ul li button {
	position: relative;
	height: 24px;
	bottom: 66px;
	left: 18%;
	font-family: sans-serif;
	font-size: 21px;
	color: #234152;
	border: 0px solid #c4f6f8;
	background-color: transparent;
	z-index: 2;
	/*background-image: linear-gradient(to right, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}
#graveyard {
	/*height: auto;*/
	width: 168px;
	margin: 26px;
	padding: 6px;
	font-family: sans-serif;
	font-size: 17px;
	color: #ffffef;
	background-color: #a71d0f;
	list-style: none;
}
#graveyard h2 {
	background-color: #a71d0f;
}
#graveyard li {
	background-color: #a71d0f;
}
#endGame {
	width: 168px;
	margin: 26px;
	font-family: sans-serif;
	color: #234152;
	border: 0px solid #c4f6f8;
}
@media screen and (min-width: 48em) /*768px*/ {
	body {
		background-color: #fffefe; /*#199bbe;*/
	}
	ul li button {
		bottom: 55px;
	}
}
@media screen and (min-width: 62em) /*992px*/ {
	body {
		background-color: #fffffe; /*#1920ef;*/
	}
	ul li button {
		font-size: 14px;
		bottom: 40px;
	}
}
@media screen and (min-width: 80em) /*1280px*/ {
	body {
		background-color: #ffffff;
	}
	#top {
		font-size: 17px;
	}
	ul li button {
		bottom: 40px;
	}
}