html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #71bbff);
}
body {
    width: 60%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #fffefe;
    box-shadow: 0px 0 31px 0 #65606a;
}
h1 {
    width: 30%;
    height: 47px;
    margin: 15% auto 15% auto;
    padding: 18px;
    font-family: sans-serif;
    font-size: 2.7vw;
    color: #ffffff;
    border-radius: 25px;
    background-color: #2752a3;
}
#formstyle {
    width: 36%;
    height: 32px;
    margin: 15% auto 15% auto;
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.6vw;
    color: #ffffff;
    border-radius: 10px;
    background-color: #6e00bc;
}
input[type=submit] {
    width: 100%;
    height: 32px;
    margin: 25% auto 15% auto;
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.6vw;
    color: #ffffff;
    border-radius: 10px;
    background-color: #a41600;
}
@media screen and (min-width: 40em) /*640px*/ {
    body {
        background-color: #ffffff; /*#199bbe;*/
    }
}
@media screen and (min-width: 64em) /*1024px*/ {
    body {
        background-color: #fffffe; /*#1920ef;*/
    }
}
@media screen and (min-width: 80em) /*1280px*/ {
    body {
        background-color: #ffffff;
    }
}